<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> DARL Workshop at ICML 2022 </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/css/style.css" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">

  <div class="container" id="header">

    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> <!-- navbar-header -->

    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="navbar-nav mx-auto">
        <li class="nav-link"><a href="/index.html">About</a></li>
        <!-- <li class="nav-link"><a href="/format.html">How to Participate</a></li> -->
<!--         <li class="nav-link"><a href="/livestream.html">Livestream</a></li> -->
        <li class="nav-link"><a href="/submit.html">Submit</a></li>
        <li class="nav-link"><a href="/speakers.html">Speakers</a></li>
        <li class="nav-link"><a href="/schedule.html">Schedule</a></li>
        <!-- <li class="nav-link"><a href="/papers.html">Papers</a></li> -->
        <!-- <li class="nav-link"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdkQNm_lM1nZ5Tcm2-dNfQrAnPs2DnWTJP9mMjPHs-LliahHA/viewform?embedded=false"> Panel</a></li> -->
        <li class="nav-link"><a href="/resources.html">Resources</a></li>
        <!-- <li class="nav-link"><a href="/submit.html"><del>Submit</del></a></li> -->
              </ul>

    </div> <!-- navbar-main -->

  </div>

</nav> <!-- navbar -->

<body>

  <div class="container" id="content">

    <div class="page-content">


      <div class="row">
        <img src="images/logo_full.png" class="img_disappear" width="220px"/>
      <div class="row justify-content-center inline">
        <h1 class="text-center">Decision Awareness <br> in Reinforcement Learning</h1>
        <div class="break"></div>
        <h4 class="text-center">Workshop at the <a href="https://icml.cc/Conferences/2022">International Conference on Machine Learning (ICML) 2022</a></h4>
        <div class="break"></div>
        <h4 class="text-center">July 22, HALL G T2500 at the Baltimore Convention Center</h4>
        <div class="break"></div>
        <h4 class="text-center"><a href="https://twitter.com/darl_icml" target="_blank">@DARL_ICML</a> · <a href="https://twitter.com/hashtag/DARL_workshop_ICML2022" target="_blank">#DARL_workshop_ICML2022</a></h4>
        <hr>
      </div>

      </div> <!-- row -->

      {{ content }}

    </div> <!-- container -->

  </div> <!-- page-content -->

</body>
</html>
